#
# Copyright 2014 The Android Open Source Project
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

#sets some obscure file to 1 & serial number as the device's serial number, shown during 'adb devices'
on init
    write /sys/class/android_usb/android0/f_rndis/wceis 1
    write /sys/class/android_usb/android0/iSerial burgir

on charger
    setprop sys.usb.config mass_storage

#some permission stuff for adb 
on fs
    mkdir /dev/usb-ffs 0770 shell shell
    mkdir /dev/usb-ffs/adb 0770 shell shell
    mount functionfs adb /dev/usb-ffs/adb uid=2000,gid=2000
    write /sys/class/android_usb/android0/f_ffs/aliases adb

#restart adbd on 'adb root'
on property:service.adb.root=1
    write /sys/class/android_usb/android0/enable 0
    restart adbd
    write /sys/class/android_usb/android0/enable 1

# USB compositions
# FIH, PID = 0xC002
on property:sys.usb.config=diag
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 0489
    write /sys/class/android_usb/android0/idProduct C002
    write /sys/class/android_usb/android0/f_diag/clients diag
    write /sys/class/android_usb/android0/functions diag
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

# FIH, PID = 0xC003
on property:sys.usb.config=serial_tty
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 0489
    write /sys/class/android_usb/android0/idProduct C003
    write /sys/class/android_usb/android0/f_serial/transports tty
    write /sys/class/android_usb/android0/functions serial
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

# FIH, PID = 0xC005
on property:sys.usb.config=diag,serial_tty,serial_smd
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 0489
    write /sys/class/android_usb/android0/idProduct C005
    write /sys/class/android_usb/android0/f_diag/clients diag
    write /sys/class/android_usb/android0/f_serial/transports tty,smd
    write /sys/class/android_usb/android0/functions diag,serial
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

# FIH, PID = 0xC020
on property:sys.usb.config=serial_tty,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 0489
    write /sys/class/android_usb/android0/idProduct C020
    write /sys/class/android_usb/android0/f_serial/transports tty
    write /sys/class/android_usb/android0/functions serial,adb
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state ${sys.usb.config}

# FIH, PID = 0xC021
on property:sys.usb.config=diag,serial_smd,mass_storage
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 0489
    write /sys/class/android_usb/android0/idProduct C021
    write /sys/class/android_usb/android0/f_diag/clients diag
    write /sys/class/android_usb/android0/f_serial/transports smd
    write /sys/class/android_usb/android0/functions mass_storage,diag,serial
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

# FIH, PID = 0xC000
on property:sys.usb.config=diag,serial_smd,mass_storage,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 0489
    write /sys/class/android_usb/android0/idProduct C000
    write /sys/class/android_usb/android0/f_diag/clients diag
    write /sys/class/android_usb/android0/f_serial/transports smd
    write /sys/class/android_usb/android0/functions mass_storage,diag,adb,serial
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state ${sys.usb.config}

# FIH, PID = 0xC004
on property:sys.usb.config=mass_storage
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 0489
    write /sys/class/android_usb/android0/idProduct C004
    write /sys/class/android_usb/android0/functions mass_storage
    write /sys/devices/platform/msm_hsusb/gadget/lun1/file /dev/block/mmcblk1
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

# FIH, PID = 0xC001
on property:sys.usb.config=mass_storage,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 0489
    write /sys/class/android_usb/android0/idProduct C001
    write /sys/class/android_usb/android0/functions mass_storage,adb
    write /sys/devices/platform/msm_hsusb/gadget/lun1/file /dev/block/mmcblk1    
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state ${sys.usb.config}

# FIH, PID = 0xC022
on property:sys.usb.config=rndis
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 0489
    write /sys/class/android_usb/android0/idProduct C022
    write /sys/class/android_usb/android0/functions rndis
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

# FIH, PID = 0xC008
on property:sys.usb.config=rndis,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 0489
    write /sys/class/android_usb/android0/idProduct C008
    write /sys/class/android_usb/android0/functions rndis,adb
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state ${sys.usb.config}

# FIH, PID = 0xC025
on property:sys.usb.config=mtp,mass_storage
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 0489
    write /sys/class/android_usb/android0/idProduct C025
    write /sys/class/android_usb/android0/functions mtp,mass_storage
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

# FIH, PID = 0xC026
on property:sys.usb.config=mtp,mass_storage,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 0489
    write /sys/class/android_usb/android0/idProduct C026
    write /sys/class/android_usb/android0/functions mtp,mass_storage,adb
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state ${sys.usb.config}

# FIH, PID = 0xC027
on property:sys.usb.config=mtp,mass_storage,serial_smd
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 0489
    write /sys/class/android_usb/android0/idProduct C027
    write /sys/class/android_usb/android0/f_serial/transports smd
    write /sys/class/android_usb/android0/functions mtp,mass_storage,serial
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

# FIH, PID = 0xC00B
on property:sys.usb.config=mtp,mass_storage,serial_smd,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 0489
    write /sys/class/android_usb/android0/idProduct C00B
    write /sys/class/android_usb/android0/f_serial/transports smd
    write /sys/class/android_usb/android0/functions mtp,mass_storage,adb,serial
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state ${sys.usb.config}

# FIH, PID = 0xC028
on property:sys.usb.config=mtp,mass_storage,diag,serial_smd
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 0489
    write /sys/class/android_usb/android0/idProduct C028
    write /sys/class/android_usb/android0/f_diag/clients diag
    write /sys/class/android_usb/android0/f_serial/transports smd
    write /sys/class/android_usb/android0/functions mtp,mass_storage,diag,serial
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

# FIH, PID = 0xC00A
on property:sys.usb.config=mtp,mass_storage,diag,serial_smd,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 0489
    write /sys/class/android_usb/android0/idProduct C00A
    write /sys/class/android_usb/android0/f_diag/clients diag
    write /sys/class/android_usb/android0/f_serial/transports smd
    write /sys/class/android_usb/android0/functions mtp,mass_storage,diag,adb,serial
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state ${sys.usb.config}

# FIH, PID = 0xC029
on property:sys.usb.config=ptp,mass_storage
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 0489
    write /sys/class/android_usb/android0/idProduct C029
    write /sys/class/android_usb/android0/functions ptp,mass_storage
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

# FIH, PID = 0xC02A
on property:sys.usb.config=ptp,mass_storage,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 0489
    write /sys/class/android_usb/android0/idProduct C02A
    write /sys/class/android_usb/android0/functions ptp,mass_storage,adb
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state ${sys.usb.config}

# FIH, PID = 0xC02B
on property:sys.usb.config=ptp,mass_storage,serial_smd
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 0489
    write /sys/class/android_usb/android0/idProduct C02B
    write /sys/class/android_usb/android0/f_serial/transports smd
    write /sys/class/android_usb/android0/functions ptp,mass_storage,serial
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

# FIH, PID = 0xC00D
on property:sys.usb.config=ptp,mass_storage,serial_smd,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 0489
    write /sys/class/android_usb/android0/idProduct C00D
    write /sys/class/android_usb/android0/f_serial/transports smd
    write /sys/class/android_usb/android0/functions ptp,mass_storage,adb,serial
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state ${sys.usb.config}

# FIH, PID = 0xC02C
on property:sys.usb.config=ptp,mass_storage,diag,serial_smd
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 0489
    write /sys/class/android_usb/android0/idProduct C02C
    write /sys/class/android_usb/android0/f_diag/clients diag
    write /sys/class/android_usb/android0/f_serial/transports smd
    write /sys/class/android_usb/android0/functions ptp,mass_storage,diag,serial
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

# FIH, PID = 0xC00C
on property:sys.usb.config=ptp,mass_storage,diag,serial_smd,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 0489
    write /sys/class/android_usb/android0/idProduct C00C
    write /sys/class/android_usb/android0/f_diag/clients diag
    write /sys/class/android_usb/android0/f_serial/transports smd
    write /sys/class/android_usb/android0/functions ptp,mass_storage,diag,adb,serial
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state ${sys.usb.config}

# FIH, PID = 0xC00E
on property:sys.usb.config=mtp,mass_storage,adb,serial,diag
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 0489
    write /sys/class/android_usb/android0/idProduct C00E
    write /sys/class/android_usb/android0/f_diag/clients diag
    write /sys/class/android_usb/android0/f_serial/transports smd
    write /sys/class/android_usb/android0/functions mtp,mass_storage,adb,serial,diag
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state ${sys.usb.config}

# FIH, PID = 0xC00F
on property:sys.usb.config=ptp,mass_storage,adb,serial,diag
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 0489
    write /sys/class/android_usb/android0/idProduct C00F
    write /sys/class/android_usb/android0/f_diag/clients diag
    write /sys/class/android_usb/android0/f_serial/transports smd
    write /sys/class/android_usb/android0/functions ptp,mass_storage,adb,serial,diag
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state ${sys.usb.config}


on property:sys.usb.config=diag,serial_smd,serial_tty,rmnet_bam,mass_storage,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 05C6
    write /sys/class/android_usb/android0/idProduct 9025
    write /sys/class/android_usb/android0/f_diag/clients diag
    write /sys/class/android_usb/android0/f_serial/transports smd,tty
    write /sys/class/android_usb/android0/f_rmnet/transports smd,bam
    write /sys/class/android_usb/android0/functions diag,adb,serial,rmnet,mass_storage
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state ${sys.usb.config}
    
# FIH, PID = 0xC022
on property:sys.usb.config=rndis,diag,serial
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 0489
    write /sys/class/android_usb/android0/idProduct C039
    write /sys/class/android_usb/android0/f_diag/clients diag
    write /sys/class/android_usb/android0/f_serial/transports smd    
    write /sys/class/android_usb/android0/functions rndis,diag,serial
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

# FIH, PID = 0xC008
on property:sys.usb.config=rndis,diag,serial,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 0489
    write /sys/class/android_usb/android0/idProduct C03A
    write /sys/class/android_usb/android0/f_diag/clients diag
    write /sys/class/android_usb/android0/f_serial/transports smd
    write /sys/class/android_usb/android0/functions rndis,adb,diag,serial
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=midi,mass_storage
     write /sys/class/android_usb/android0/enable 0
     write /sys/class/android_usb/android0/idVendor 0489
     write /sys/class/android_usb/android0/idProduct C03F
     write /sys/class/android_usb/android0/functions midi,mass_storage
     write /sys/class/android_usb/android0/enable 1
     setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=midi,mass_storage,adb
     stop adbd
     write /sys/class/android_usb/android0/enable 0
     write /sys/class/android_usb/android0/idVendor 0489
     write /sys/class/android_usb/android0/idProduct C040
     write /sys/class/android_usb/android0/functions midi,mass_storage,adb
     write /sys/class/android_usb/android0/enable 1
     start adbd
     setprop sys.usb.state ${sys.usb.config}